.inputs {
    width: 100%;
    max-width: 27.2rem;
    padding: 0 3.2rem 0 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffffcc;
    .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .input {
        padding-left: 1.8rem;
        width: 100%;
        max-width: 24rem;
        height: 4.8rem;
        border: 0;
        outline: 0;
        color: #ffffffcc;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.7rem;
        letter-spacing: -0.02em;
        background: transparent;

        &::placeholder {
            color: #ffffff80;
        }

        &.gasolina {
            color: #ff0000;
            font-weight: 700;
        }
        &.alcool {
            color: #0abf04;
            font-weight: 700;
        }
        &.input-preferencia {
            padding-left: 1.2rem;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 2.4rem;
    }

    label {
        color: #ffffff80;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: -0.02em;
    }
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;   
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.resultado {
    width: 100%;
    max-width: 24rem;
    height: 4.8rem;
    border-bottom: 1px solid #ffffffcc;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 2.4rem;
    }
    p {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: -0.02em;     
        color: #ffffff80;
    }
}